<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\IIS Express\PHP\v5.3\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="Default.php" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
